<!doctype html>
<html lang="is">

<head>
	<meta charset="utf-8">
	<title>
		<%= locals.title ?? '' %>
	</title>
	<link rel="stylesheet" href="/styles.css">
</head>

<body>
	<header>
		<nav>
			<ul>
				<li><a href="/">Forsíða</a></li>
				<li><a href="/leikir">Leikir</a></li>
				<li><a href="/stada">Staða</a></li>
				<% if (locals.loggedIn) { %>
					<li>
						<a href="/logout">Útskrá</a>
					</li>
					<% } else { %>
						<li>
							<a href="/login">Innskrá</a>
						</li>
						<li>
							<a href="/register">Nýskrá</a>
						</li>
						<% } %>
			</ul>
		</nav>
	</header>
	<main>