<h1>Bæta við leik</h1>

<form method="post" action="/skra">
	<div>
		<label for="when">Dagsetning?</label>
		<input type="date" id="whendate" name="when" required>
	</div>
	<div>
		<label for="homename">Heima lið</label>
		<select id="homename" list="teams" name="homename" required>
			<%- include("teamoption") %>
		</select>
	</div>
	<div>
		<label for="homescore">Heima skor</label>
		<input type="number" id="homescore" name="homescore" min="0" value="0" required>
	</div>
	<div>
		<label for="awayname">Úti lið</label>
		<select id="awayname" list="teams" name="awayname" required>
			<%- include("teamoption") %>
		</select>
	</div>
	<div>
		<label for="awayscore">Úti lið skor</label>
		<input type="number" id="awayscore" name="awayscore" min="0" value="0" required>
	</div>
	<button>Skrá</button>
</form>