<%- include('header') -%>

	<h1>Staðan í deildinni</h1>

	<table>
		<thead class="stadatabla">
			<tr>
				<th>Lið</th>
				<th>Stig</th>
			</tr>
		</thead>
		<tbody class="stadatabla">
			<% for (const team of locals.stadan) { %>
				<tr>
					<td>
						<%= team[0] %>
					</td>
					<td>
						<%= team[1] %>
					</td>
				</tr>
				<% } %>
		</tbody>
	</table>
	<%- include('footer') -%>