<div class="field">
	<label for="username">Notendanafn</label>
	<input type="text" name="username" id="username" placeholder="">
</div>


<div class="field">
	<label for="password">Lykilorð</label>
	<input type="password" name="password" id="password" placeholder="">
</div>